<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Om</title>
</head>
<body>
    <header>
        <div class="top">
            <p>Server-baserad webbutveckling Moment 1 - Isaac Svedin</p>
        </div>
        <nav class="menu">
            <ul>
                <li>
                    <a href="/">Kurser</a>
                </li>
                <li>
                    <a href="/courseform">Ny kurs</a>
                </li>
                <li class="here">
                    <a href="/about">Om</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Om</h1>
</body>
</html>