<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Kurser</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Kurser</a>
                    <a href="/about">Om</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Kurser</h1>
</body>
</html>