table {
    width: 100%;
    border-collapse: collapse;

    font-size: 1.2rem;
    color: #000000;
    /* background-color: #AAA; */
}

thead>tr>th {
    padding: 0.5rem;
}

.row {
    background-color: #BABABA;
    border: 2px solid black;
    line-height: 2rem;
    user-select: none;
    transition: 0.2s background-color;
}

.row>td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.subrow {
    display: none;
    border: 2px solid black;
    transition: 0.2s background-color;
}

.subrow>td>form>input,
.subrow>td>button {
    font-size: 1rem;
    cursor: pointer;
}

.row:hover+.subrow,
.subrow:hover {
    display: table-row;
    border-top: none;
    background-color: #CCC;
}

.row:hover,
.row:has(+ .subrow:hover) {
    background-color: #CCC;
    border-bottom: none;
    font-weight: 700;
}

@media screen and (max-width: 500px) {

    .row,
    .subrow {
        border-left: 0;
        border-right: 0;
    }
}